

body                            {background: #222; color: #fff; font-family:'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;}


.gridster                       {width: 1004px; height:748px; margin:auto;}
.gridster li                    {list-style:none;}

.lbwidget h2                    {color: rgba(255, 255, 255, 0.7); font-size: 32px; font-weight: normal; text-align: center;}
.lbwidget h3                    {font-size: 90px; font-weight: bold; text-align: center;}

.bgcolor-turquoise              {background: #1ABC9C;}
.bgcolor-green-sea              {background: #16A085;}
.bgcolor-emerland               {background: #2ECC71;}
.bgcolor-nephritis              {background: #27AE60;}
.bgcolor-peter-river            {background: #3498DB;}
.bgcolor-belize-hole            {background: #2980B9;}
.bgcolor-amethyst               {background: #9B59B6;}
.bgcolor-wisteria               {background: #8E44AD;}
.bgcolor-wet-asphalt            {background: #34495E;}
.bgcolor-midnight-blue          {background: #2C3E50;}
.bgcolor-sun-flower             {background: #F1C40F;}
.bgcolor-orange                 {background: #F39C12;}
.bgcolor-carrot                 {background: #E67E22;}
.bgcolor-pumpkin                {background: #D35400;}
.bgcolor-alizarin               {background: #E74C3C;}
.bgcolor-pomegranate            {background: #C0392B;}
.bgcolor-clouds                 {background: #ECF0F1;}
.bgcolor-silver                 {background: #BDC3C7;}
.bgcolor-concrete               {background: #95A5A6;}
.bgcolor-asbestos               {background: #7F8C8D;}

.bgcolor1                       {background: #EC663C;}
.bgcolor2                       {background: #9C4274;}
.bgcolor3                       {background: #12B0C5;}
.bgcolor4                       {background: #FF9618;}
.bgcolor5                       {background: #47BBB3;}

.simpleCountWidget              {}
.simpleCountWidget h2           {margin: 50px 0 0;}
.simpleCountWidget h3           {margin: 24px 0 0;}


.eventListWidget ul { 
   margin:0px; padding:0px;
}
.eventListWidget li { 
    height: 50px; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out;
}

/* See later in the blog post for a cleaner way to generate these rules */
/* http://blog.stevensanderson.com/2013/03/15/animating-lists-with-css-3-transitions/ */
.eventListWidget li:nth-child(1)  { -webkit-transform: translate3d(0, 0%, 0); transform: translate3d(0, 0%, 0); }
.eventListWidget li:nth-child(2)  { -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
.eventListWidget li:nth-child(3)  { -webkit-transform: translate3d(0, 200%, 0); transform: translate3d(0, 200%, 0); }
.eventListWidget li:nth-child(4)  { -webkit-transform: translate3d(0, 300%, 0); transform: translate3d(0, 300%, 0); }
.eventListWidget li:nth-child(5)  { -webkit-transform: translate3d(0, 400%, 0); transform: translate3d(0, 400%, 0); }
.eventListWidget li:nth-child(6)  { -webkit-transform: translate3d(0, 500%, 0); transform: translate3d(0, 500%, 0); }
.eventListWidget li:nth-child(7)  { -webkit-transform: translate3d(0, 600%, 0); transform: translate3d(0, 600%, 0); }
.eventListWidget li:nth-child(8)  { -webkit-transform: translate3d(0, 700%, 0); transform: translate3d(0, 700%, 0); }
.eventListWidget li:nth-child(9)  { -webkit-transform: translate3d(0, 800%, 0); transform: translate3d(0, 800%, 0); }
.eventListWidget li:nth-child(10) { -webkit-transform: translate3d(0, 900%, 0); transform: translate3d(0, 900%, 0); }
.eventListWidget li:nth-child(11) { -webkit-transform: translate3d(0, 1000%, 0); transform: translate3d(0, 1000%, 0); }
.eventListWidget li:nth-child(12) { -webkit-transform: translate3d(0, 1100%, 0); transform: translate3d(0, 1100%, 0); }
.eventListWidget li:nth-child(13) { -webkit-transform: translate3d(0, 1200%, 0); transform: translate3d(0, 1200%, 0); }
.eventListWidget li:nth-child(14) { -webkit-transform: translate3d(0, 1300%, 0); transform: translate3d(0, 1300%, 0); }
.eventListWidget li:nth-child(15) { -webkit-transform: translate3d(0, 1400%, 0); transform: translate3d(0, 1400%, 0); }



