

body                            {background: #222; color: #fff; font-family:'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;}


.gridster                       {width: 1004px; height:748px; margin:auto;}
.gridster li                    {list-style:none;}

.lbwidget h2                    {color: rgba(255, 255, 255, 0.7); font-size: 32px; font-weight: normal; text-align: center;}
.lbwidget h3                    {font-size: 90px; font-weight: bold; text-align: center;}

.bgcolor-turquoise              {background: #1ABC9C;}
.bgcolor-green-sea              {background: #16A085;}
.bgcolor-emerland               {background: #2ECC71;}
.bgcolor-nephritis              {background: #27AE60;}
.bgcolor-peter-river            {background: #3498DB;}
.bgcolor-belize-hole            {background: #2980B9;}
.bgcolor-amethyst               {background: #9B59B6;}
.bgcolor-wisteria               {background: #8E44AD;}
.bgcolor-wet-asphalt            {background: #34495E;}
.bgcolor-midnight-blue          {background: #2C3E50;}
.bgcolor-sun-flower             {background: #F1C40F;}
.bgcolor-orange                 {background: #F39C12;}
.bgcolor-carrot                 {background: #E67E22;}
.bgcolor-pumpkin                {background: #D35400;}
.bgcolor-alizarin               {background: #E74C3C;}
.bgcolor-pomegranate            {background: #C0392B;}
.bgcolor-clouds                 {background: #ECF0F1;}
.bgcolor-silver                 {background: #BDC3C7;}
.bgcolor-concrete               {background: #95A5A6;}
.bgcolor-asbestos               {background: #7F8C8D;}

.bgcolor1                       {background: #EC663C;}
.bgcolor2                       {background: #9C4274;}
.bgcolor3                       {background: #12B0C5;}
.bgcolor4                       {background: #FF9618;}
.bgcolor5                       {background: #47BBB3;}

.simpleCountWidget              {}
.simpleCountWidget h2           {margin: 50px 0 0;}
.simpleCountWidget h3           {margin: 24px 0 0;}


.eventListWidget ul             {margin:0px; padding:0px;}
.eventListWidget li             {height: 0px; opacity:0; border-top:1px solid rgba(255, 255, 255, 0.2); -webkit-transition: all 0.9s ease-out; transition: all 0.9s ease-out; font-size:26px; padding:4px 0px 0px 30px;}
.eventListWidget li.show        {height: 60px; opacity:1;}
.eventListWidget li div.l       {float:left;}
.eventListWidget li div.i       {float:left; width:28px; line-height:28px; opacity:0.8;}
.eventListWidget li i           {font-size: 20px;}
.eventListWidget li .timeago    {font-size: 15px; margin:0 0 0 28px; float:left; clear:both; opacity:0.7;}

